*.iml
.gradle
build/

/local.properties
/.idea
.DS_Store
Thumbs.db
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
/release
.navigation/
*.log
*.hprof
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.txt
